<% if @product.new_record? %>
  <h1>New Product</h1>
<% else %>
  <h1>Edit: <%= @product.title %></h1>
<% end %>

<% form_tag do %>
  <div class="form-area">
    <div  id="product_form_area">
      <p class="title">
        <label for="product_title">Title</label>
        <%= text_field "product", "title", :class => 'textbox', :maxlength => 255 %>
      </p>
      
      <p class="category title row">
        <label for="product_category_id">Category</label><br />
        <%= select "product", "category_id", Category.find(:all).collect { |x| [ x.title, x.id ] }, :selected => @product.category_id %>
      </p>
      
      <p class="price title row">
        <label for="product_price">Price</label>
        <%= text_field "product", "price", :class => 'textbox', :maxlength => 255 %>
      </p>
      
      <p class="photo row title">
        <label for="product_photo">Photo</label>
        <%= text_field "product", "photo", :class => 'textbox', :maxlength => 255 %>
      </p>

      <p class="description row">
        <label for="product_description">Description</label><br />
        <%= text_area "product", "description", :class => 'textarea', :maxlength => 255 %>
      </p>

       <span class="clear">&nbsp;</span>
    </div>
  </div>

  <p class="buttons">
    <%= save_model_button(@product) %>
    <%= save_model_and_continue_editing_button(@product) %>
    or 
    <%= link_to "Cancel", {:action => :index} %>
  </p>
<% end %>

