    <%= error_messages_for :category %>

    <div class="form-area">
      <div  id="category_form_area">
        <p class="title">
          <label for="category_title">Title</label>
          <%= text_field "category", "title", :class => 'textbox', :maxlength => 255 %>
        </p>
        <p class="title">
          <label for="parent_id">Parent</label>
          <%= select "category", "parent_id", Category.find_all_except(category).collect { |c| [ c.to_s, c.id ] }, :include_blank => true %>
        </p>
        <p class="title">
          <label for="tag_names">Tags</label>
          <%= text_field "category", "tag_names", :class => 'textbox', :maxlength => 255 %> (separate with commas)
        </p>
        <p class="description row title">
          <label for="category_description">Description</label><br />
          <%= text_area "category", "description", :class => 'textarea', :maxlength => 255 %>
        </p>
        <p class="custom_layout row title">
          <label for="category_custom_layout">Custom Layout</label><br />
          <%= text_field "category", "custom_layout", :class => 'textbox', :maxlength => 255 %> (blank to inherit)
        </p>
        <p class="custom_product_layout row title">
          <label for="category_custom_product_layout">Custom Layout for Products</label><br />
          <%= text_field "category", "custom_product_layout", :class => 'textbox', :maxlength => 255 %> (blank to inherit)
        </p>
      <% custom_fields(:category).each do |field| -%>
        <p class="custom_field row title">
          <label for="<%= field %>"><%= humanize field %></label><br />
          <%= text_field_tag "category[custom][#{field}]", @category.json_field_get(field), :class => 'textbox', :maxlength => 255 %>
        </p>
      <% end %>
         <span class="clear">&nbsp;</span>
      </div>
    </div>
    <p class="buttons">
      <%= save_model_button(@category) %>
      <%= save_model_and_continue_editing_button(@category) %>
      or 
      <%= link_to "Cancel", {:action => :index} %>
    </p>
