    <%= error_messages_for :category %>

    <div class="form-area">
      <div  id="category_form_area">
        <p class="title">
          <label for="category_title">Title</label>
          <%= text_field "category", "title", :class => 'textbox', :maxlength => 255 %>
        </p>
        <p class="title">
          <label for="tag_names">Tags</label>
          <%= text_field "category", "tag_names", :class => 'textbox', :maxlength => 255 %> (separate with commas)
        </p>
        <p class="description row title">
          <label for="category_description">Description</label><br />
          <%= text_area "category", "description", :class => 'textarea', :maxlength => 255 %>
        </p>
         <span class="clear">&nbsp;</span>
      </div>
    </div>
    <p class="buttons">
      <%= save_model_button(@category) %>
      <%= save_model_and_continue_editing_button(@category) %>
      or 
      <%= link_to "Cancel", {:action => :index} %>
    </p>
