  <h1>Product Categories</h1>

  <p>You can enter categories here, which will show up on the public side of your website.</p>

  <table cellspacing="0" cellpadding="0" border="0" class="index" id="categories">

    <thead>
      <tr>
        <th class="category">Category</th>
        <th class="tags">Tags</th>
        <th class="modify">Modify</th>
      </tr>
    </thead>

    <tbody>
      <% Category.find(:all).each do |category| %>
        <tr class="node level-1">
          <td class="category">
            <%= link_to category.title, edit_admin_category_url(category) %>
          </td>
          <td class="tags"><%= category.tag_names %></td>
          <td class="remove">
            <%= link_to image('remove', :alt => 'Remove Category'), remove_admin_category_url(category) %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <p><%= link_to image("simple_product_manager/new-category", :alt => "New Category"), new_admin_category_url %></p>

<% if Category.count > 0 then %>
  <h1>Products</h1>

  <p>You can enter products here, which will show up on the public side of your website.</p>

  <table cellspacing="0" cellpadding="0" border="0" class="index" id="products">

    <thead>
      <tr>
        <th class="product">Product</th>
        <th class="category">Category</th>
        <th class="price">Price</th>
        <th class="modify">Modify</th>
      </tr>
    </thead>

    <tbody>
      <% Product.find(:all).each do |product| %>
        <tr class="node level-1">
          <td class="product">
            <%# image('products/product') %>
            <%= link_to product.title, edit_admin_product_url(product) %>
          </td>
          <td class="category">
            <%= link_to product.category.title, edit_admin_category_url(product.category) %>
          </td>
          <td class="price"><%= number_to_currency(product.price) unless product.price.nil? %></td>
          <td class="remove">
            <%= link_to image('remove', :alt => 'Remove product'), remove_admin_product_url(product) %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <p><%= link_to image("simple_product_manager/new-product", :alt => "New product"), new_admin_product_url %></p>
<% end %>
